@import "modern-normalize/modern-normalize.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #5754f9;
  --accent-color: #f44599;
  --success-color: #20d287;
  --danger-color: #ff4259;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.primary {
  background-color: var(--primary-color);
}

.accent {
  background-color: var(--accent-color);
}

.success {
  background-color: var(--success-color);
}

.danger {
  background-color: var(--danger-color);
}
